{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Annonces : </h2>

 
    {% if listadverts|length > 0 %}
        {% for Advert in listadverts %}
        <p>
          {{ Advert.title }}
        
        par {{ Advert.author }},
        le {{ Advert.date|date('d/m/Y') }}
        </p>
        {% else %}
        <p>Pas (encore !) d'annonces</p>
        {% endfor %}
    {% endif %}
 
 {# On affiche tous les messages flash dont le nom est « notices » #}
 {% for message in app.session.flashbag.get('notice') %}
     <p>{{ message }}</p>
 {% endfor %}
{% endblock %}

